.freind {
  -webkit-box-flex: 0.15;
      -ms-flex: 0.15;
          flex: 0.15;
  width: 0;
  max-width: 200px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.88%, #010b1e), color-stop(99.9%, #020b1c));
  background: linear-gradient(360deg, #010b1e 0.88%, #020b1c 99.9%);
  mix-blend-mode: normal;
  opacity: 0.91;
  -webkit-backdrop-filter: blur(30.1256px);
          backdrop-filter: blur(30.1256px);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.freind .right_side_icon {
  cursor: pointer;
  display: inline-block;
  padding-top: 21px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.freind .right_side_icon svg {
  border-radius: 0 50% 50% 0;
}

.freind .right_side_icon[data-status='close'] {
  -webkit-transform: rotate(180deg) translate(80%, -30%);
          transform: rotate(180deg) translate(80%, -30%);
}

.freind .right_side_icon[data-status='close'] svg {
  color: #000;
  background-color: #46db70;
}

.freind .right_side_icon[data-status='open'] svg {
  color: #46db70;
  background-color: #fff;
}

.freind .right_side_icon:hover svg {
  -webkit-animation: vibrate 100ms linear infinite alternate;
          animation: vibrate 100ms linear infinite alternate;
}

.freind .right_side_icon[data-status='close']:hover svg {
  -webkit-animation: scale 200ms linear infinite alternate;
          animation: scale 200ms linear infinite alternate;
}

.freind .drawer {
  height: 100%;
}

.freind .drawer > div {
  background-color: initial;
  font-weight: 500;
  position: relative;
  color: #afafaf;
  width: 100%;
}

.freind .drawer > div .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  padding: 20px 10px;
}

.freind .drawer > div .activity {
  margin-top: 20px;
  padding: 20px 10px;
}

.freind .drawer > div .activity h3 {
  text-transform: uppercase;
  color: #3b4c64;
}

.freind .drawer > div .activity .find_user {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.freind .drawer > div .activity .find_user p {
  margin-bottom: 15px;
  text-transform: lowercase;
  font-weight: 700;
}

.freind .drawer > div .activity .find_user p::first-letter {
  text-transform: uppercase;
}

.freind .drawer > div .activity .find_user button {
  padding: 4px 20px;
  border: 1px solid #c8c8c8;
  border-radius: 99px;
  background: transparent;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-weight: bold;
  font-size: 17px;
}

.freind .drawer > div .activity .find_user button:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
  color: #46db70;
  border-color: #46db70;
}

.close {
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
}

@-webkit-keyframes vibrate {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes vibrate {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=freind.css.map */