footer {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1.05%, #020814), color-stop(99.15%, #030d20));
  background: linear-gradient(360deg, #020814 1.05%, #030d20 99.15%);
  mix-blend-mode: normal;
  opacity: 0.98;
  color: #b3b3b3;
}

footer .control {
  margin: 0 auto;
  width: 28%;
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .control svg {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

footer .control svg:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .control .play_pause {
  font-size: 42px;
}

footer .song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

footer .song .cover {
  width: 64px;
  height: 64px;
}

footer .song .cover object[type='image/png'],
footer .song .cover img {
  display: inline-block;
  width: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .song .info {
  margin-left: 12px;
  position: relative;
}

footer .song .info .texts {
  height: 100%;
  width: 160px;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
}

footer .song .info .texts span {
  display: inline-block;
  margin-bottom: 8px;
}

.control_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control_container .timebar {
  position: relative;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.control_container .timebar span {
  letter-spacing: 1px;
  width: 3%;
}

.control_container .timebar input {
  -webkit-appearance: none !important;
  width: 94%;
  height: 100%;
  outline: none;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#46db70), color-stop(0%, #46db70), color-stop(0%, #3c3c3c), to(#3c3c3c));
  background: linear-gradient(to right, #46db70 0%, #46db70 0%, #3c3c3c 0%, #3c3c3c 100%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.control_container .timebar input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 12px;
  height: 12px;
  margin-left: -4px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #e9e9e9;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.control_container:hover input::-webkit-slider-thumb {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=player.css.map */